[Unit]
Description=Praesto
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/src/praesto/
ExecStart=/usr/local/src/praesto/praesto.py
Restart=always

[Install]
WantedBy=multi-user.target
